@import './_variables';
@import './_custom-table';
@import './mixins';
@import './sale';
@import './custom.scss';

.custom-form-control , .custom-btn {
    border: 1px solid #EBEBEB;
    box-shadow: none;
    border-radius: 2px;
    font-size: 14px;
    transition: all .3s ease;
    padding: 6px 16px;
    color: #868686;
}
.custom-btn:hover {
    background-color: #d4d4d4;
    border: 1px solid #8cbcbc;
    color: $btn-primary-color-dark;
}
.custom-btn-primary {
    @include button-style($brand-primary);
    }

.btn-primary {
    color: #000;
    background-color: $brand-primary;
    border-color: $brand-primary;

    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover {
        color: #000;
        background-color: $brand-primary;
        border-color: $brand-primary;
    }
}
.custom-btn-danger {
    @include button-style($brand-danger);
}